<div><h1>Ask a question to the coach</h1>
<p>Ask anything to your coach</p>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" id='btn'>
</form>
</div>
