// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  background-color: rgb(220,220,220);
  padding: 20px;
  margin: 10px;
  width: 400px;
}

#coach {
  background-color: rgb(255,255,224);
  padding: 20px;
  margin: 10px;
  width: 400px;
}

#btn {
  padding: 5px;
  background-color: blue;
  color: white;
  border-radius: 5px;

}
